$font-primary:'Degular','sans-serif';
$font-secondary:'Lora','sans-serif';
$color-gray:'#808080';
$color-black:'#000000';
$color-white:'#ffffff';
$color-carrier:'#B3E5E1';
$color-car-border:'#95C7C3';
$card-back:'#EEE';
$card-border:'#D3D3D3';
