.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    background: rgba(248, 248, 248, 0.70);
    backdrop-filter: blur(10px);


    .navigation {
        width: 900px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 780px) {
            width: 740px;
         }

        @media only screen and (max-width: 430px) {
            width: 404px;
        }
    }

    .logo {
        height: 36px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .name {
        color: black;
        font-family: 'Degular', 'sans-serif';
        font-size: 25px;
        font-weight: 500;
    }

    .desc {
        color: black;
        font-family: 'Degular', 'sans-serif';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }

    .icons {
        width: 180px;
        height: 32px;
        display: flex;
        align-items: center;
        gap: 20px;

        @media only screen and (max-width: 780px) {
            gap: 4px;
         }
    }

    .icon-img{
        width: 32px;
        height: 32px;

        @media only screen and (max-width: 430px) {
            width: 28px;
            height: 28px;
        }
    }

    a {
        text-decoration: none;
    }

    button {
        background: none;
        border: none;
    }

    button:hover {
        box-shadow: none;
    }

    [tooltip] {
        position: relative;
        display: inline-block;
    }

    [tooltip]::before {
        content: "";
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 4px 6px 0 6px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
        z-index: 99;
        opacity: 0;
    }

    [tooltip-position='bottom']::before {
        top: 100%;
        margin-top: 8px;
        transform: translateX(-50%) translatey(-100%) rotate(-180deg)
    }

    [tooltip-position='top']::before {
        left: 50%;
    }

    [tooltip]::after {
        content: attr(tooltip);
        position: absolute;
        left: 50%;
        top: -6px;
        transform: translateX(-50%) translateY(-100%);
        background: rgba(0, 0, 0, 0.7);
        text-align: center;
        color: #fff;
        padding: 4px 2px;
        font-family: 'Degular','sans-serif';
        font-weight: 300;
        font-size: 14px;
        border-radius: 5px;
        pointer-events: none;
        padding: 8px 8px;
        z-index: 99;
        opacity: 0;
    }

    [tooltip-position='bottom']::after {
        top: 100%;
        margin-top: 8px;
        transform: translateX(-50%) translateY(0%);
    }

    [tooltip-position='top']::after {
        left: 50%;
    }

    [tooltip]:hover::after,
    [tooltip]:hover::before {
        opacity: 1
    }
}